#viewerContainer {
  display: none;
  position: fixed; /* Absolute overlay */
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85); /* Dim the area behind viewer */
  z-index: 9999; /* Bring viewer to front */
}
#viewerContainer a-scene {
  width: 100vw !important;
  height: 100vh !important;
  min-height: 100vh;
}
#map {
  z-index: 1;
}
#ghostSliderBox {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10001;
  width: 70vw;
  background: rgba(32,32,32,0.7);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ghostRange {
  width: 90%;
  margin-top: 6px;
}
