#viewerContainer {
  display: none;
  position: fixed; /* Absolute overlay */
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85); /* Dim the area behind viewer */
  z-index: 9999; /* Bring viewer to front */
}
#viewerContainer a-scene {
  width: 100vw !important;
  height: 100vh !important;
  min-height: 100vh;
}
#map {
  z-index: 1;
}
